@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap');
/* ==============================================
                GLOBAL STYLES
============================================== */
:root {
/* Typography */
--font-heading: 'Fraunces', serif;
--font-content: 'Work Sans', sans-serif;

--font-size-h1: 3rem;
--font-size-h2: 2rem;
--font-size-h3: 1.5rem;
--font-size-h4: 1rem;

--font-size-content-xl: 1.75rem;
--font-size-content-lg: 1.25rem;
--font-size-content-md: 1rem;
--font-size-content-sm: 0.875rem;

/*color theme */
--bg-primary: #E7E3E3;
--bg-secondary: #3DD18C;
--text-primary: #4A3624;
--text-secondary: #50463E;
--text-tertiary: #885733;

  /* Spacing scale */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 3.75rem;
  --space-9: 4.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    margin: 0;
    font-family: var(--font-content);
    font-size: var(--font-size-content-md);
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    margin: 0 0 var(--space-2) 0;
    font-weight: 300;
}

h1 {font-size: var(--font-size-h1);}
h2 {font-size: var(--font-size-h2);}
h3 {font-size: var(--font-size-h3);}
h4 {font-size: var(--font-size-h4);}

.text-xl {font-size: var(--font-size-content-xl);}
.text-lg {font-size: var(--font-size-content-lg);}
.text-md {font-size: var(--font-size-content-md);}
.text-sm {font-size: var(--font-size-content-sm);}

.bg-primary {background-color: var(--bg-primary);}
.bg-secondary {background-color: var(--bg-secondary);}

.text-primary {color: var(--text-primary);}
.text-secondary {color: var(--text-secondary);}
.text-tertiary {color: var(--text-tertiary);}

/* spacing */
.m-1 {margin: var(--space-1);}
.m-2 {margin: var(--space-2);}
.m-3 {margin: var(--space-3);}
.m-4 {margin: var(--space-4);}
.m-5 {margin: var(--space-5);}
.m-6 {margin: var(--space-6);}
.m-7 {margin: var(--space-7);}
.m-8 {margin: var(--space-8);}
.m-9 {margin: var(--space-9);}

/* ==============================================
                NAVIGATION
============================================== */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-8);
}
/* link container */
nav ul {
  display: flex;
  gap: var(--space-5);
  list-style: none;
  margin: 0;
  padding: 0;
}
/* links */
nav a {
  font-size: var(--font-size-content-lg);
  color: var(--text-tertiary);
  text-decoration: none;
}
nav a:hover {
  color: var(--bg-secondary)
}
/* logo */
.logo {
  font-size: var(--font-size-content-lg)
}


/* ==============================================
                WORK HOME PAGE
============================================== */
#hero {
  padding: var(--space-8);
}

/* --- PROJECT LIST --- */
#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
  padding: var(--space-8);
  max-width: 100%;
}
.project-card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(114, 97, 80, 0.20);
}
.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  gap: var(--space-4);
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.card-text h3,
.card-text p {
    margin: 0;
}

.card-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-2);
}
.tag {
  background-color: #F2F1F1;
  padding: var(--space-1) var(--space-3);
}

/* ==============================================
                PR1_QUESTIONNAIRE
============================================== */
#pr1-hero {
  padding: var(--space-8);
}
#pr1-context {
  background-color: white;
  padding: var(--space-8);
}